<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Página Inicial Rodrigo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-passing" margin= 10>
      <h2>Veja também:</h2>
      <ion-item>
        <ion-button color="primary" (click)="paginaMarcelo()">Marcelo</ion-button>
      </ion-item>
      <ion-item>
        <ion-button color="medium" (click)="paginaRaimo()">Raimo</ion-button>
      </ion-item>
      <ion-item>
          <ion-button color="tertiary" (click)="paginaVictor()">Victor</ion-button>
        </ion-item>
      <ion-item>
          <ion-button color="success" (click)="paginaRobson()">Robson</ion-button>
      </ion-item>
    </div>
</ion-content>
