<ion-header>
  <ion-toolbar>
    <ion-title color="dark">Cadastro de Funcionários</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label color="dark" position="floating">CPF</ion-label>
    <ion-input type="number" placeholder="Digite seu CPF"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="dark" position="floating">Nome</ion-label>
    <ion-input type="text" placeholder="Digite seu nome completo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Data de Nascimento</ion-label>
    <ion-input style="width: 150px;" type="date" placeholder="Selecione uma data"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="dark" position="stacked">Sexo</ion-label>
  </ion-item>
  <ion-select style="width: 150px;" color="dark" placeholder="Selecione">
    <ion-select-option value="M">Masculino</ion-select-option>
    <ion-select-option value="F">Feminino</ion-select-option>
    <ion-select-option value="O">Outros</ion-select-option>
  </ion-select>
  <ion-item>
    <ion-label color="dark" position="stacked">E-mail</ion-label>
    <ion-input type="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Gerente</ion-label>
    <ion-checkbox></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Salario</ion-label>
    <ion-input type="number" increment="0.1"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Observações</ion-label>
    <ion-textarea rows="6"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label color="dark" position="stacked">Estado</ion-label>
  </ion-item>
  <ion-select style="width: 200px;" color="dark" placeholder="Selecione seu estado">
    <ion-select-option value="SP">São Paulo</ion-select-option>
    <ion-select-option value="RJ">Rio de Janeiro</ion-select-option>
    <ion-select-option value="MG">Minas Gerais</ion-select-option>
  </ion-select>
  <!-- <ion-item *ngFor="let x of cpfsro">
    {{x.nome}} - {{x.cpf}} - {{x.cpf | cpfRodrigo}}
  </ion-item>
  -->
</ion-content>