<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>NAÇÃO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
    <h1>
      <p>PAGINA RUBRO NEGRA</p>
    </h1>
    <ion-item>
      <ion-button color="danger" (click)="paginaRodrigo()">Rodrigo</ion-button>
    </ion-item>
    <ion-item>
      <ion-button color="dark" (click)="paginaMarcelo()">Marcelo</ion-button>
    </ion-item>
    <ion-item>
      <ion-button color="danger" (click)="paginaVictor()">Victor</ion-button>
    </ion-item>
    <ion-item>
      <ion-button color="dark" routerLink="/robson-home">Robson</ion-button>
    </ion-item>
    <img style="width: 150px;" src="assets/flamengo.jpg" />
    <img src="assets/paqueta.gif">
  </div>
  <ion-item>
    <ion-thumbnail>
      <img [src]="imagem">
    </ion-thumbnail>
    <ion-label> {{ nome }} </ion-label>
  </ion-item>
  <ion-chip>
    <ion-avatar>
      <img [src]="imagem">
    </ion-avatar>
    <ion-label>{{ nome }}</ion-label>
    

  </ion-chip>
  <div style="text-align: center;">
    <ion-button color="danger" size="small" (click)="alerta()">FLAMENGO</ion-button>
  </div>
  <div style="text-align: center;">
    <ion-button color="dark" size="small" (click)="toast('MUNDIAL!!')">CAMPEÃO</ion-button>
  </div>
  <div style="text-align: center;">
    <ion-button color="danger" size="small" (click)="toast('RESPEITA!!', 10000)">1981</ion-button>
  </div> 
  <ion-item *ngFor="let ramigos of amigosRaimo">
      {{ramigos.nome}} - {{ramigos.cpf}} - {{ramigos.cpf}} 
  </ion-item>
</ion-content>