<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>RAIMO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
    <h1>
      <p>PAGINA RUBRO NEGRA</p>
    </h1>
    <ion-item>
      <ion-button color="danger" (click)="paginaRodrigo()">Rodrigo</ion-button>
    </ion-item>
    <ion-item>
      <ion-button color="dark" (click)="paginaMarcelo()">Marcelo</ion-button>
    </ion-item>
    <ion-item>
      <ion-button color="danger" (click)="paginaVictor()">Victor</ion-button>
    </ion-item>
    <ion-item>
      <ion-button color="dark" (click)="paginaRobson()">Robson</ion-button>
    </ion-item>
    <img style="width: 150px;" src="assets/flamengo.jpg" />
  </div>
  <ion-chip>
    <ion-avatar>
      <img [src]="imagem">
    </ion-avatar>
    <ion-label>{{ nome }}</ion-label>

  </ion-chip>
  <ion-item>
    <ion-thumbnail>
      <img [src]="imagem">
    </ion-thumbnail>
    <ion-label> {{ nome }} </ion-label>
  </ion-item>
</ion-content>