<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Robson (Curso Ionic 4.0)</ion-title>
  </ion-toolbar>
</ion-header>
<ion-item>
  <ion-chip color="secondary">
    <ion-avatar>
      <img src="assets/usuarios/robson.jpg">
    </ion-avatar>
    <ion-label color='tertiary'>Robson</ion-label>
    <ion-icon name="paw"></ion-icon>
  </ion-chip>
  <ion-chip color="success">
    <ion-icon name="finger-print"></ion-icon>
    <ion-label color='danger'>Robson</ion-label>
    <ion-avatar>
      <img src="assets/usuarios/robson.jpg">
    </ion-avatar>
  </ion-chip>
</ion-item>
<ion-item color="secondary">
  <ion-thumbnail slot="start">
    <img src="assets/usuarios/robson.jpg">
  </ion-thumbnail>
  <ion-label color="tertiary">Dogninja</ion-label>
</ion-item>
<ion-item color="success">
  <ion-thumbnail slot="end">
    <img src="assets/usuarios/robson.jpg">
  </ion-thumbnail>
  <ion-label color="danger">Dogninja</ion-label>
</ion-item>
<ion-item href="https://havena.com.br/sistema/index.html" target="_blank" color="primary">
  <ion-thumbnail slot="start">
    <img src="assets/usuarios/havena.png">
  </ion-thumbnail>
  <ion-label color="light">Sistema Havena</ion-label>
</ion-item>


<ion-content>
  <ion-item>
    <h1>
      <p>Escolha o seu resultado</p>
    </h1>
  </ion-item>
  <ion-item>
    <p>
      <ion-button color="success" href="http://loterias.caixa.gov.br/wps/portal/loterias/landing/megasena/"
        target="_blank">
        <ion-icon name="cash"></ion-icon>&nbsp;MEGA SENA
      </ion-button>

      <ion-button color="dark" light href="http://loterias.caixa.gov.br/wps/portal/loterias/landing/quina/"
        target="_blank">
        <ion-icon name="cash"></ion-icon>&nbsp;QUINA
      </ion-button>

      <ion-button color="tertiary" href="http://loterias.caixa.gov.br/wps/portal/loterias/landing/lotofacil/"
        target="_blank">
        <ion-icon name="cash"></ion-icon>&nbsp;LOTO FÁCIL
      </ion-button>

    </p>

  </ion-item>
  <ion-item>
    <ion-button color="danger" (click)="robsonAlerta()">Alerta</ion-button>
    <ion-button color="warning" (click)="robsonToast('Mensagem sem tempo')">Aviso sem tempo</ion-button>
    <ion-button color="dark" (click)="robsonToast('Mensagem de 8 segundos',8)">Aviso com tempo</ion-button>
  </ion-item>
  <ion-item>
<!--    
  C.P.F.: {{  usuariosCpfs[0].nome | cpfRobson }}; 
  <ion-item *ngFor="let meusUsuarios of usuariosCpfs">
      {{meusUsuarios.nome}} - {{meusUsuarios.cpf}}
  </ion-item>
    
-->
 {{usuariosCpfs[0].cpf | cpfRobson }} <br />
 {{usuariosCpfs[1].cpf | cpfRobson }}
  </ion-item>

  <!--
  <h2>Usuários cadastrados</h2>
  <ion-item *ngFor="let cadastrado of usuarios">
    {{ cadastrado.nome}} - {{ cadastrado.email }} - {{ cadastrado.horaLogin }}
  </ion-item>
-->

</ion-content>