<ion-header>
  <ion-toolbar>
    <ion-title>
      Curso
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <h1 class="negrito colorido">Curso de Ionic do Victor</h1>
    <h2>Participantes</h2>
    <ion-item>
      <ion-button (click)="paginaRodrigo()">Rodrigo</ion-button>
    </ion-item>
    <ion-item>
      <ion-button routerLink="/raimo-home">Raimo</ion-button>      
      <a routerLink="/raimo-home/flamengo">Raimo</a>      
    </ion-item>
    <ion-item>
      <ion-button routerLink="/marcelo-home">Marcelo</ion-button>
    </ion-item>

  </div>
</ion-content>