<ion-header>
  <ion-toolbar>
    <ion-title>
      Curso
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <h1 class="negrito colorido">Curso de Ionic do Victor</h1>
    <span *ngIf="usuarioLogadoNaClasse">Usuário: {{ usuarioLogadoNaClasse.email }}</span>    
    <span *ngIf="!usuarioLogadoNaClasse">Login</span>

    <h2>Usuario cadastrados</h2>
    <ion-item *ngFor="let cadastrado of usuarios">
      {{ cadastrado.email }} - {{ cadastrado.horaLogin }}
      <ion-button slot="end" fill="clear">Editar</ion-button>
    </ion-item>


    
    <h2>Participantes</h2>
    <ion-item>
      <ion-button (click)="paginaRodrigo()">Rodrigo</ion-button>
    </ion-item>
    <ion-item>
      <ion-button routerLink="/raimo-home">Raimo</ion-button>      
      <a routerLink="/raimo-home/flamengo">Raimo</a>      
    </ion-item>
    <ion-item>
      <ion-button routerLink="/marcelo-home">Marcelo</ion-button>
    </ion-item>
    <ion-item>
      <ion-button routerLink="/robson-home">Robson</ion-button>
    </ion-item>
    <img style="width: 200px;" src="assets/bola.jpg" />
  </div>
</ion-content>