<ion-header>
  <ion-toolbar>
    <ion-title>Home do Victor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-chip>

    <ion-avatar>
      <img [src]="imagem">
    </ion-avatar>
    <!-- 
    <ion-label>{{ nome | titulo }}</ion-label>
    -->
   <ion-label>{{ usuario | titulo }}</ion-label>
  </ion-chip>

  <ion-item>
    Data Nascimento: {{ dataNasc | date:"dd/MM/yyyy" }}
  </ion-item> 

  <ion-item>
    <ion-thumbnail slot="start">
      <img [src]="imagem">
    </ion-thumbnail>
    <ion-label>{{ nome }}</ion-label>
  </ion-item>

  <ion-button color="dark" size="small" expand="block" (click)="alerta()">Alerta</ion-button>
  <ion-button color="warning" size="small" expand="block" (click)="toast('Finalizado!!')">Toast</ion-button>
  <ion-button color="danger" size="small" expand="block" (click)="toast('Finalizado!!', 10000)">Toast Longo</ion-button>
</ion-content>